body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero, .header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    margin: none;
    padding: none;
    list-style-type: none;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 40px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;  
}

.left {
    width: 25%;
    flex-wrap: wrap;
}

button {
    background-color: #3882F6;
    color: white;
    border: 0;
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: bold;
}

img.right {
    width: 25%;
    height: 200px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.main {
    text-align: center;
    margin: 32px 0 64px 0;
}

.sections {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.section {
    max-width: 150px;
}

.main img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
  }

.testimonial {
    background-color: #E5E7EB;
    padding: 64px 30%;
    display: flex;
    flex-direction: column;
}

.testimonial p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.signature {
    align-self: flex-end;
    font-weight: bold;
}