body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero, .header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    margin: none;
    padding: none;
    list-style-type: none;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 40px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;  
}

.left {
    width: 25%;
    flex-wrap: wrap;
}

button {
    background-color: #3882F6;
    color: white;
    border: 0;
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: bold;
}

img.right {
    width: 25%;
    height: 200px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}